body {
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
}

hr {
    size: 1px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

.verticalTableHeader {
    text-align: center;
    white-space: nowrap;
    /*    g-origin:50% 50%;*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);

}

.verticalTableHeader span {
    /*    margin:0 -100% ;*/
    display: inline-block;
    width: 90px;
}

.verticalTableHeader span:before {
    content: '';
    width: 0;
    padding-top: 110%;
    /* takes width as reference, + 10% for faking some extra padding */
    display: inline-block;
    vertical-align: middle;
}

